* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  text-decoration: none;
}

body {
  background: #f4f4f4;
  color: #333;
}

/* ===== MENU FIXO ===== */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0000005e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.481);
  z-index: 1000;
        /* efeito de blur */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Na merda do Safari */
}

.menu .logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.menu .links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
}

.menu .links li a {
  
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.7s ease, color 0.5s ease, background 0.7s ease;
}

.menu .links li a:hover{
    transform: translateY(-10px);
    border-radius: 10px;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;

}


.btn-hamburguer {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.cabecalho {
  text-align: center;
  padding: 100px 20px 40px;
  background: #000000;
  color: white;
}

.cabecalho h1 {
  font-size: 2.5rem;
}

.cabecalho p {
  font-size: 1.1rem;
  margin-top: 8px;
}


.equipe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.membro {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0px 17px 17px 0px rgba(0, 0, 0, 0.386);
  transition: transform 0.7s ease, box-shadow 0.9s ease;
}

.membro:hover {
  transform: translateY(-10px);
  box-shadow: 0px 17px 17px 0px rgba(0, 0, 0, 0.386);

}

.membro img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.membro h3 {
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #000000;
}

.funcao {
  font-weight: bold;
  color: #2331CF;
}

.descricao {
  font-size: 0.95rem;
  margin-top: 8px;
  color: #555;
}


/* Fundo */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.852);
  z-index: 500;
        /* efeito de blur */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); /* Na merda do Safari */
}

.overlay.ativo {
  display: block;
}


.menu {
  z-index: 1001;
}

/* Ajuste do menu responsivo */
@media (max-width: 768px) {
  .menu .links {
    position: relative;
    z-index: 1002;
  }
}


/* ===== RESPONSIVO ===== */
@media (max-width: 768px) {
  .btn-hamburguer {
    display: block;
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu .links {
    flex-direction: column;
    width: 100%;
    display: none;
    background: #091168;
    margin-top: 10px;
  }

  .menu .links.ativo {
    display: flex;
    animation: abrirMenu 1.0s ease forwards;
  }

  @keyframes abrirMenu {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
